<div class="cointainer p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="{{url}}" target="_blank">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    <p class="m-2">
                        {{description}}
                    </p>
                    <p> {{ timeago created_at }}</p>
                    <a href="/links/delete/{{idlink}}" class="btn btn-danger">Delete</a>
                    <a href="" class="btn btn-primary">Edit</a>
                </div>
            </div>  
        </div>
        {{/each}}
    </div>
</div>